<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Short Url is created - {{}}</h1>

    <p>Success</p>
    <p>Want to create another - </p>
    <form action="/nbapp/short_url/" method="post">
        <label for="entered_url">Enter your URL </label>
        <input id="entered_url" type="text" name="entered_url" value="{{ current_url }}">
        <input type="submit" value="Submit">
    </form>
</body>
</html>